.Header {
    background-color: #282c34;
    height: 42px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.Header-logo {
    animation: Header-logo-spin infinite 20s linear;
    height: 30px;
    pointer-events: none;
    display: inline-block;
    clear: both;
}

.Header-title {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 20px;
    display: inline-block;
}

@keyframes Header-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}